#trade-all-container-row-buy-sell-BG-ebebeb {
    margin-top: 75px;
    margin-left: 224px;
    margin-right: -8px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 100%;
    background-color: #f8f8f8;
}


/* correct table css, come back and refactor to hard code each asset */
#trade-all-header {
    padding: 24px 24px 0;
    font-size: 20px;
    color: rgb(10, 11, 13);
    font-weight: 600;
}

#trade-all-content-main-column {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 100%;
    width: 68.5%;
}

#all-assets-table-container {
    padding: 24px;
}

.crypto-name-td {
    width: 18%;
}

.row-styling {
    height: 75px;
}

.row-styling:hover {
    background-color: rgb(245, 248, 252);
    cursor: pointer;
}


th {
    width: 5%;
    text-align: left;
    user-select: none;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0;
}

td {
    width: 5%;
    text-align: left;
    user-select: none;
    /* border-top: 1px solid lightgrey; */
    border-bottom: 1px solid lightgrey;
}

.crypto-bold{
    font-weight: 600;
    color: rgb(10, 11, 13);
}

.symbol-light{
    font-weight: 400;
    color: rgb(91, 97, 110);
    line-height: 20px;
    font-size: 14px;
}


#buy-sell-form {
    background-color: white;
    width: 29%;
    border: 1px solid lightgrey;
    border-radius: 5px;
}


.img-name-div-flex {
    display: flex;
}

.logo-div {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.negative {
    color: rgb(207, 32, 47)
}

.positive {
    color: rgb(9, 133, 81)
}


/* EZ data loading, running out of time lol */

#temp {
    display: flex;
    column-gap: 50px;
}

#name-column {
    width: 28%;
}

.crypto-data-column {
    height: 10%;
    border-top: 1px solid lightgrey;
}