#nav-wrapper {
    background-color: white;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-end;
    /* justify-content: center; */
    width: 100%;
    border: 1px solid lightgrey;
    border-right: none;
    position: fixed;
    top: 0;
    color: black;
    height: 55px;
    padding: 10px 10px;
    /* border: 1px solid red; */
    margin-right: 50px;
    z-index: 3;
}

#nav-content {
    background-color: white;
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-between;
    align-items: center;
    width: auto;
    /* right: 0px; */
    color: black;
    height: 50px;
    padding: 0 10px;
    border: none;
}

#nav-wrapper-unauth {
    background-color: white;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    /* justify-content: center; */
    min-width: 100vw;
    border: 1px solid lightgrey;
    border-right: none;
    position: fixed;
    top: 0;
    color: black;
    height: 55px;
    padding: 10px 10px;
    /* border: 1px solid red; */
    margin-right: 50px;
    z-index: -1;
}

#nav-content-unauth {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    height: 50px;
    /* width: 100%; */
    padding: 0 10px;
    border: none;
    column-gap: 50px;
}

#params {
    color: black;
    z-index: 4;
}

#main-nav-row-section {
    /* width: 35%; */
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
}

.main-nav-item {
    width: 16%;
    margin: 0 18px;
}

#auth-buttons-container {
    width: 230px;
    height: 66px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* box-sizing: border-box; */
    font-weight: 400;
    line-height: 18px;
    margin-left: 5%;
}

#login-div-btn {
    box-sizing: border-box;
    color: rgb(5, 15, 25);
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    padding: 16px;
    text-align: start;
    letter-spacing: normal;
    width: 100px;
}

#login-div-btn:hover {
    color: rgb(0, 82, 255);
}

#signup-div-btn {
    width: 55px;
    height: 16px;
    border-radius: 4px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: "Poppins";
    background-color: rgb(0, 82, 255);
    border: 1px solid rgb(0, 82, 255);
    font-size: 14px;
    line-height: 14px;
    padding: 10px 12px;
    text-align: center;
    letter-spacing: normal;
}

#signup-div-btn:hover {
    background-color: rgb(1, 68, 214);
    border: 1px solid rgb(0, 82, 255);
}


.navBar-buttons {
    margin-right: 20px;
    /* background-color: rgba(55, 115, 245, 1); */
    background-color: rgb(0, 82, 255);
    border: none;
    height: 40px;
    width: 140px;
    border-radius: 9999999px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navBar-buttons:hover {
    background-color: rgba(71, 126, 246, .92);
    cursor: pointer;
}

#logo-logo-logo {
    /* position: fixed; */
    /* left: 15px; */
    /* z-index: 5; */
    height: fit-content;
    width: 150px;
    margin-right: 10%;
    display: flex;
    align-items: center;
    max-height: 20px;
    flex: 2 1 0%;
}

#logo-img {
    height: 38px;
    width: 38px;
}

#splashLogo {
    min-width: fit-content;
    font-size: 22px;
    font-weight: 600;
    color: rgb(0, 82, 255);
}

#user-profile {
    z-index: 5;
}

#user-profile:hover {
    cursor: pointer;
}

#user-img {
    width: 40px;
    height: 40px;
    filter: invert(100%) sepia(0%) saturate(6040%) hue-rotate(303deg) brightness(112%) contrast(65%);
}

#dropdown-user-img {
    height: 65px;
    width: 65px;
    filter: invert(100%) sepia(0%) saturate(6040%) hue-rotate(303deg) brightness(112%) contrast(65%);
    margin-top: 7px;
}

#dropdown {
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgrey;
    position: fixed !important;
    right: 25px !important;
    top: 78px !important;
    width: 300px;
    height: 494px;
    box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

#pf-username,
#pf-first-last {
    color: rgb(10, 11, 13);
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    word-break: break-all;

}

#pf-email {
    color: rgb(91, 97, 110);
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    word-break: break-all;
}

#manage-pf-div {
    display: flex;
    text-align: center;
    padding-top: 10px;
    font-weight: 400;
}

#manage-btn {
    background-color: rgb(238, 240, 243);
    color: rgb(10, 11, 13);
    border-radius: 25px;
    border: none;
    line-height: 21px;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 24px;
    text-align: center;
}

#manage-btn:hover {
    background-color: rgb(233, 235, 238);
}

#manage-text {
    color: rgb(10, 11, 13);
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: normal;
    font-family: "Poppins";
}


#pfp-top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}


#pfp-bottom-section {
    margin-top: 20px;
    text-align: left;
}

#pfp-links-list {
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0 !important;
    text-decoration: none;
}

.pfp-dropdown-item {
    color: rgb(10, 11, 13);
    display: flex;
    box-sizing: border-box;
    font-weight: 500;
    text-align: left;
    line-height: 15px;
    display: block;
    font-size: 14px;
    border-top: 1px solid lightgrey;
    text-decoration: none;
}

.li-text {
    padding: 14px 24px;
}

.li-text:hover {
    background-color: rgb(233, 235, 238);
    cursor: pointer;
}


a {
    text-decoration: none;
}


#navbar-signout {
    color: red;
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
}

#navbar-signout:hover {
    cursor: pointer;
}


#pageName {
    position: fixed;
    z-index: 3;
    color: black;
    margin-right: 50px;
    left: 270px;
    font-size: 24px;
    font-weight: 500;
}

#more-profile-container {
    position: fixed;
    top: 70px;
    right: 15px;
    max-width: 367px;
    max-height: 598px;
    box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: scroll;
}

.section-container {
    width: 335;
    height: 260px;
    padding: 0 16px;
}

.links-div-row1,
.links-div-row2 {
    display: flex;
    box-sizing: border-box;
    width: 335px;
    height: 106px;
    /* border: 1px solid blue; */
    margin-top: -10px;
    padding: 0 8px;
}

.link-card {
    width: 90px;
    height: 90px;
    padding: 10px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

.link-card-img {
    height: 45px;
    width: 45px;
}

.card-caption {
    line-height: 20px;
    font-size: 14px;
    text-overflow: ellipsis;
    text-align: center;
    width: 90px;
    user-select: none;
    font-weight: 400;
    cursor: pointer;
    margin-top: 2px;
}

.more-header {
    display: block;
    width: 303px;
    line-height: 16px;
    padding: 16px;
    font-size: 13px;
    font-weight: 600;
    color: rgb(91, 97, 110, .9);
    text-transform: uppercase;
    text-align: start;
}

.separator-line {
    border-top: 1px solid lightgrey;
}

#profile-more-menu {
    margin-right: 20px;
}

#profile-more-menu:hover {
    cursor: pointer;
}

#menu-img-div {
    border: 3px solid rgb(233, 235, 238);
    border-radius: 99999px;
    /* filter: invert(100%) sepia(0%) saturate(6040%) hue-rotate(303deg) brightness(112%) contrast(65%); */
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #EEF0F3; */
    background-color: rgb(233, 235, 238);
    /* background-color: rgb(245, 249, 252); */
}

#more-menu-img {
    width: 13px;
    height: 13px;
    filter: invert(3%) sepia(6%) saturate(2116%) hue-rotate(182deg) brightness(93%) contrast(96%);
}