#Sidebar-flex-column {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 200px;
    min-width: 200px;
    padding: 16px;
    border: 1px solid black;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 3;
    background-color: white;
    text-decoration: none;
    /* padding: 20px; */
}

#logo-logo {
    display: flex;
    align-items: center;
}

#wordLogo {
    font-size: 24px;
    font-weight: 600;
    color: rgb(0, 82, 255)
}

#stack-icons {
    margin-top: 20px;
    z-index: inherit;
}

#sidebar-icon-div {
    color: rgb(10, 11, 13);
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.sidebar-item-58x58 {
    margin-top: 20px;
    /* border: 1px solid blue; */
    border-radius: 99999px;
    font-weight: 700;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    padding: 0 20px;
}

.sidebar-item-58x58:hover {
    background-color: rgb(245, 248, 252);
}


#side-button-center {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: rgb(10, 11, 13);
}

#clicked {
    background-color: rgb(245, 248, 252);
    color: rgb(0, 82, 255) !important;
}

#clicked1 {
    background-color: rgb(245, 248, 252);
    color: rgb(0, 82, 255) !important;
}

.clicked-class{
    color: rgb(0, 82, 255) !important;
    filter: invert(20%) sepia(100%) saturate(2604%) hue-rotate(218deg) brightness(101%) contrast(119%);
}