/* TODO Add site wide styles */
@font-face {
    font-family: 'GraphikExtralight';
    src: url("aFonts/GraphikExtralight.otf") format("opentype");
    src: url("aFonts/GraphikRegular.otf") fromat("opentype");
    src: url("aFonts/GraphikThin.otf") format("opentype");
}

body{
    font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    /* font-family: 'GraphikExtralight' */
}
