#login-wrapper {
    display: flex;
    justify-content: center;

}


#login-container {
    margin-top: 100px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    border-radius: 15px;
    width: 50%;
}

#login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#errors-mapped {
    color: red;
}

#error-div {}

.login-input {
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 7px;
    font-size: 16px;
    background-color: none;

}

#label-div {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    /* border: 1px solid blue; */
}

#login-form-content {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 10px;
    width: 500px;

}

#auth-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;

    margin-bottom: 10px;
}



#reg-login-btn {
    width: 100%;
    height: 40px;
    border-radius: 9999px;
    border: 1px solid lightgrey;
}

button:hover{
    cursor: pointer;
}


.login-div {
    width: 100%;
    height: 40px;
    border-radius: 9999px;
}

.login-div > button {
    color: white;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 500;
    background-color: rgba(0, 82, 255, 1);
}

#demo-login {
    width: 100%;
    height: 40px;
    border-radius: 9999px;
    border: 1px solid lightgrey
}