#main-wrapper-include-rightSidebar {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* width: 100%; */
    height: fit-content;
    /* border: 1px solid purple; */
    margin-top: 70px;
    margin-left: 224px;
    margin-right: 345px;
    background-color: white;
    /* background-color: #0a0a0a; */
    /* background-color: #1b1b1b; */
    /* background-color: rgb(2, 8, 10) */

}

#news-container {
    padding: 15px 32px 100px 32px;
    color: black;
    height: fit-content;
    background-color: white;
}

#article-container {
    /* border: 1px solid green; */
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
}

#article-container:hover{
    background-color: rgba(243, 243, 243, 0.482);
}



#news-img-div {
    /* width: 285px;
    height: 225px; */
    /* overflow-wrap: break-word; */
}

#news-img {
    width: 285px;
    height: 225px;
    border-radius: 4px;
    object-fit: cover;
    /* aspect-ratio: 369 / 271; */
    /* aspect-ratio: 285 / 225; */
    box-sizing: border-box;
}

#news-details {
    font-size: 16px;
    color: rgb(91, 97, 110);
    font-weight: 400;
    /* overflow-wrap:normal; */
    overflow-x: auto;
    /* border: 1px solid red; */
    width: 0 auto;
    text-decoration: none;
}

#news-header {
    font-size: 16px;
    color: rgb(10, 11, 13);
    font-weight: 600;
    line-height: 24px;
}


#news-redirect{
    text-decoration: none;
    color: rgb(91, 97, 110);
    cursor: pointer;

}

#news-headline{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: rgb(10, 11, 13);
}


#center-main-content-column-stack {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    /* padding: 32px; */
    /* border: 4px solid blue; */
    /* color: white; */
    /* margin-right: 380px; */

}

#your-balance-summary-div-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding: 32px;
    /* min-width: 400px; */
}

#your-balance-column {
    display: flex;
    flex-direction: column;
    width: 40rem;
    /* border: 1px solid pink; */
}

#watchlist-container{
    padding: 0 32px 32px 32px;
    border-bottom: 1px solid lightgrey;
}


#right-sidebar-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    /* color: white; */
    /* min-width: 380px; */
    background-color: white;
    /* max-width: 380px; */
    /* width: 380px; */
    height: 100%;
    position: fixed;
    right: 0;
    /* padding-top: 25px;
    padding-left: 25px; */
    padding: 25px;
    border-left: 1px solid lightgrey;

}

#top-movers {
    /* position: fixed */
}

#no-watchlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
#no-watchlist-instructions{
    color: rgb(91, 97, 110);
}

#no-watchlist-caption{
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    color: rgb(0, 82, 255)
}

/* #right-sidebar-spacer{
    height: 100%;
    border: 10px solid purple;
    min-width: 350px;
} */