#transactions-side-container{
    padding: 0 24px;
    border: 1px solid black;
    height: 1000px;
}

#transactions-header{
    border: 1px solid red;
    padding: 24px;
}

#transactions-map-container{
    margin-top: 5%;
    padding: 0 24px;
    border: 1px solid black;
    border-radius: 5px;
}

#transaction-card{
    border: 1px solid rgb(0, 82, 255);
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 10px;
}


