#wallets-side-container {
    padding: 0 24px;
    height: 1000px;
}

#wallets-header {
    padding: 24px;
}

#wallets-map-container {
    padding: 50px 24px 50px 24px;
    border: 1px solid black;
    border-radius: 5px;
}

#wallet-card {
    border: 1px solid rgb(0, 82, 255);
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 10px;
    font-size: 15px;
}



#explain-div {
    font-size: 15px;
    border: 1px solid rgb(0, 82, 255);
    border-radius: 4px;
    padding: 10px;
}