


#card-input-invalid{
    /* color: red; */
    border-color: red;
}

#valid-input{

}

#name-input{
    border: 1px solid red;
}

#border-red{
    border-color: red;
}

/* #name-err-div{
    position: absolute;
    top: 27%;
    left: 6%;
} */

.error-div{
    color: red;
    font-size: 14px;
    height: 24px;
    /* margin-bottom: 15px; */
}

/* #cardNumber-label{
    position: absolute;
    top: 34%;
    left: 7%;
    background-color: white;
    padding: 0 5px;
} */

/* #cvc-label{
    display: flex;
} */