#transactions-side-container {
    padding: 0 24px;
    height: 1000px;
}

#transactions-header {
    padding: 24px;
}

#transactions-map-container {
    padding: 50px 24px 50px 24px;
    border-radius: 5px;
}

#transaction-card {
    border: 1px solid rgb(0, 82, 255);
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 10px;
}


#wallAssetType {}

#row-history{
    display: flex;
    
}

